---
import Layout from '../layouts/Layout.astro';
---

<Layout title="gagan">
  <main class="container mx-auto px-4 mt-20">
    <section class="max-w-2xl mx-auto">
      <h1 class="font-zt text-4xl mb-4">hey this is gagan !</h1>
      <p class="font-helvetica font-bold mb-8">I am currently a freshman pursuing computer science. I love to build stuff and make machines learn. I write blogs mainly about ml, tech and other niche topics that I find interesting.</p>

      <div class="space-y-12">
        <section>
          <h2 class="font-zt text-2xl mb-4">about me</h2>
          <p class="font-helvetica font-bold mb-4">to be filled</p>
        </section>

        <section>
          <h2 class="font-zt text-2xl mb-4">blogs</h2>
          <ul class="font-helvetica font-bold list-disc pl-5">
            <li><a href="/blogs/build" class="hover:text-gray-600">build with me</a></li>
            <li><a href="/blogs/ml" class="hover:text-gray-600">machine learning</a></li>
          </ul>
        </section>

        <section>
          <h2 class="font-zt text-2xl mb-4">projects</h2>
          <ul class="font-helvetica font-bold list-disc pl-5">
            <li><a href="/projects#side" class="hover:text-gray-600">side projects</a></li>
            <li><a href="/projects#main" class="hover:text-gray-600">main projects</a></li>
          </ul>
        </section>

        <section>
          <h2 class="font-zt text-2xl mb-4">research</h2>
          <p class="font-helvetica font-bold mb-4">yet to be filled</p>
        </section>

        <section>
          <h2 class="font-zt text-2xl mb-4">notes</h2>
          <p class="font-helvetica font-bold mb-4">yet to be filled</p>
        </section>
      </div>
    </section>
  </main>
</Layout>