---
import Layout from '../layouts/Layout.astro';
---

<Layout title="gagan">
  <main class="container mx-auto px-100 mt-5 pl-5">
    <section class="max-w-2xl mx-auto">
      <h1 class="font-playfair text-4xl mb-4 font-bold">hey, this is gagan !</h1>
      <p class="font-playfair text-xl mb-8 font-normal">I'm a freshman studying Computer Science. I love building cool stuff and making machines learn. I write about machine learning, tech, and random niche topics that grab my curiosity. Figuring things out and sharing along the way :)</p>

      <div class="space-y-12">
        
<section>
          <h2 class="font-playfair text-3xl mb-4 font-bold">projects</h2>
          <ul class="font-playfair list-disc pl-5">
            <li><a href="/project#side" class="hover:text-gray-600 underline text-lg">side projects</a></li>
            <li><a href="/project#main" class="hover:text-gray-600 underline text-lg">main projects</a></li>
          </ul>
        </section>

        <section>
          <h2 class="font-playfair text-3xl mb-4 font-bold">blogs</h2>
          <ul class="font-playfair list-disc pl-5">
            <li><a href="/blogs/build" class="hover:text-gray-600 underline text-lg">build with me</a></li>
            <li><a href="/blogs/ml" class="hover:text-gray-600 underline text-lg">machine learning</a></li>
          </ul>
        </section>

       <section>
          <h2 class="font-playfair text-3xl mb-4 font-bold">ongoings</h2>
          <p class="font-playfair text-lg mb-4">Currently mastering machine learning, completed supervised learning from deeplearning.ai, exploring neural network architectures for computer vision tasks.</p>
          <p class="font-playfair text-lg mb-4">Writing a comprehensive blog series about my journey into machine learning and its applications.</p>
          <p class="font-playfair text-lg mb-4">Mastering next.js by doing projects, check out my recent projects at the projects page!</p>
        </section>

        <section>
          <h2 class="font-playfair text-3xl mb-4 font-bold">research</h2>
          <p class="font-playfair text-lg mb-4">yet to be filled</p>
        </section>

      

        <section>
          <h2 class="font-playfair text-3xl mb-4 font-bold">notes</h2>
          <p class="font-playfair text-lg mb-4">yet to be filled</p>
        </section>
      </div>
    </section>
  </main>
</Layout>