---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = {
  serious: [
    {
      title: 'Bhagavad-Gita-GPT',
      description: "An AI-powered chatbot that responds like Lord Krishna, offering wisdom, guidance, and Bhagavad Gita verses to help with life's challenges.",
      github: 'https://bhagavad-gita-gpt-xi.vercel.app/',
      image: '/images/bgitagpt.png'
    },
    {
      title: 'YouTube to MindMap Generator',
      description: 'Built a website that takes the URL of a YouTube video, summarises it and generates an interactive mindmap(which can be downloaded as SVG).Implemented this using YT to transcript package, Gemini-1.5-Pro API for summarising the transcript and generating Markmap code which is rendered on the screen as MindMap.',
      github: 'https://github.com/Gagancreates/youtube-mindmap-generator',
      image: '/images/ytmindmap.png'
    }
  ],
  fun: [
    {
      title: 'Personal Blog',
      description: 'My personal blog, which highlights my projects and blogs. Built with Astro',
      github: 'https://gagan-blogs.netlify.app/',
      image: '/images/blog.png'
    },
    {
      title: 'Resume Generator',
      description: 'A resume generator which takes your information and then formats it in a professional manner, and allows you to download the PDF of the resume. This project uses libraries such as html2canvas and jsPDF, which allows the users to download the PDF.',
      github: 'https://github.com/Gagancreates/resume-generator',
      image: '/images/resume.png'
    }
  ]
};
---

<Layout title="Projects | Gagan">
  <main class="container mx-auto px-4 py-12">
    <div class="max-w-4xl mx-auto">
      <h1 class="font-playfair text-4xl md:text-5xl mb-4 md:mb-6 font-bold text-center text-amber-950 dark:text-amber-100">
        Projects
      </h1>
      
      <section class="mb-20">
        <h2 class="font-playfair text-3xl mb-6 font-bold text-amber-950 dark:text-amber-100 relative inline-block">
          Main Projects
          <span class="absolute bottom-0 left-0 w-1/3 h-1.5 bg-amber-500 dark:bg-amber-600"></span>
        </h2>
        <div class="space-y-6">
          {projects.serious.map(project => (
            <ProjectCard {...project} />
          ))}
        </div>
      </section>

      <section>
        <h2 class="font-playfair text-3xl mb-6 font-bold text-amber-950 dark:text-amber-100 relative inline-block">
          Side Projects
          <span class="absolute bottom-0 left-0 w-1/3 h-1.5 bg-amber-500 dark:bg-amber-600"></span>
        </h2>
        <div class="space-y-6">
          {projects.fun.map(project => (
            <ProjectCard {...project} />
          ))}
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  main {
    animation: fadeIn 0.8s ease-out;
  }
</style>